.teamContainer {
  align-items: center;
  text-align: center;
  padding-top: 85px;
}

.teamName {
  padding-top: 60px;
  margin: 0;
  font-size: 28px;
}

.leagueName {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 40px;
}

.modal-button {
  padding-top: 40px;
}