html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

.session-image {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.session-image-two {
  position: absolute;
  transform: scalex(-1);
  left: 0px;
  top: 59px;
  z-index: -1;
}

.profile-image {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.profile-image-two {
  position: absolute;
  right: 0px;
  top: 59px;
  z-index: -1;
}

.edit-image {
  position: absolute;
  transform: scalex(-1);
  right: 0px;
  bottom: 0px;
}

.edit-image-two {
  position: absolute;
  transform: scalex(-1);
  left: 0px;
  top: 59px;
  z-index: -1;
}

.leader-image {
  position: absolute;
  left: 0px;
  top: 56px;
  z-index: -1;
}

.team-image {
  position: absolute;
  left: 0px;
  top: 59px;
  z-index: -1;
}

.team-image-two {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.team-image-three {
  position: absolute;
  transform: scaley(-1);
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.team-image-four {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.team-image-five {
  position: absolute;
  right: 0px;
  top: 59px;
  z-index: -1;
}

.add-climb-image {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.bye-image {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.bye-image-two {
  position: absolute;
  right: 0px;
  top: 59px;
  z-index: -1;
}

.welcome-image {
  position: absolute;
  transform: scalex(-1);
  transform: scaley(-1);
  right: 0px;
  bottom: 0px;
}

.create-image {
  position: absolute;
  transform: scalex(-1);
  right: 0px;
  bottom: 0px;
}

.join-image {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

h2 {
  padding-top: 20px;
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

/* --------------------------------------------------------------------------------
Header
-------------------------------------------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  background: #272727;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding-top: 5px;
  text-align: center;
}

/* --------------------------------------------------------------------------------
Containers
-------------------------------------------------------------------------------- */

.container {
  text-align: center;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.container-bye {
  text-align: center;
  padding-top: 135px;
  align-items: center;
  justify-content: center;
}

.container-join {
  text-align: center;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.container-create {
  text-align: center;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.container-conditionals {
  text-align: center;
  padding-top: 70px;
  padding-left: 1px;
  padding-right: 1px;
  align-items: center;
  justify-content: center;
}

.container-edit {
  text-align: center;
  padding-top: 140px;
  align-items: left;
  justify-content: left;
}

.container-start {
  text-align: center;
  padding-top: 150px;
  align-items: center;
  justify-content: center;
}

.container-leaderboard {
  text-align: center;
  padding-top: 125px;
  align-items: center;
  justify-content: center;
}

.container-profile {
  text-align: center;
  padding-top: 135px;
  align-items: center;
  justify-content: center;
}

.container-climber-profile {
  text-align: center;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.container-welcome {
  text-align: center;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #e66b06;
;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #e66b06;
  text-decoration: none;
}

.btn-climb {
  display: inline-block;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #e66b06;
  color: #e66b06;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 250px;
  padding-bottom: 20px;
  max-width: 100%;
  margin: 0 auto 20px;
  background-color: rgba(39, 39, 39, 0.9);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  color: white;
}

.registerInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}


/* --------------------------------------------------------------------------------
Modal Access Code
-------------------------------------------------------------------------------- */

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}

.modalInner {
  background: #272727;
  width: 230px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
}

.modalText {
  padding: 15px;
}

.exitButton {
  float: right;
  background-color: transparent;
  border: 0;
  color: white;
}

.modal-button {
  position:absolute;
  bottom: 7%;
  right: 70%;
  left: 30%;
}