.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #fcfcfc;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

/* This is the home button / logo */
.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #b753ff; 
  padding-left: 10px;
  margin: 0;
}
/* these are the nav links. | wont need this part. */
.navLink {
  display: inline-block;
  color: #0349f8;
  background-color: #fcfcfc;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #b0b0b0;
}
